.update-answer-package-container{
  /* border:1px solid red; */
  display: flex;
  flex-direction: row;
}

.update-answer-package{
  width:90%
}
.anser-title span{
  font-size: 25px;

}

.anser-title {
  padding-top: 30px;
  padding-bottom: 20px;
}

.button-and-cancel {
  padding-top:20px;
  font-size: 15px;
}

.button-and-cancel button {
  margin-right: 20px;
  height:32px;
  border-radius: 5px;
  background-color:hsl(206, 90%, 73%);
  cursor: pointer;
}

.button-and-cancel button:hover{
  background-color:hsl(206,100%,40%);
}

.update-answer-fixed-container{
  width:20%;
  position: fixed;
  top:10%;
  left:75%;

}

.update-answer-fixed-title{
  background-color: hsl(47,65%,84%);
  font-size: 16px;
  padding: 12px;
}

.update-answer-fixed-list{
  background-color:hsl(47,83%,91%);
  font-size: 14px;
}

.update-answer-fixed-list li{
  padding-top: 10px;
}

.side-bar {
  margin: 20px;
  background-color: hsl(47,83%,91%);
  padding-bottom: 8px;
}
