.update-package-container{
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
  --first-width: 70%;
  --second-width: 25%;
}

.update-question-container{
  flex-basis: var(--first-width);
  width: var(--first-width);
  margin-left: 8%;
}

.question-body-item {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px
}

.question-body-item span {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.question-body-item input {
  height: 35px;
}

.update-question-description {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px
}

.update-question-description span {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.fixed-container{
  height:100px;
  flex-basis: var(--second-width);
  width: var(--second-width);
  background-color: hsl(47,83%,91%);
  margin: 25px;
}

@media (max-width: 600px) {
  .update-package-container {
    flex-wrap: wrap;
    --first-width: 100%;
    --second-width: 100%;
  }
  .fixed-container {
    margin-left: 20%;
  }
}
@media (min-width: 601px) and (max-width: 1000px) {
  .fixed-container {
    flex-basis: 40%;
    width: 40%;
  }
}
@media (max-width: 125px) {
  .fixed-container {
    flex-basis: 100%;
    width: 100%;
  }
}

.fixed-title{
  background-color: hsl(47,65%,84%);
  font-size: 16px;
  padding: 12px;
}

.fixed-list{
  background-color:hsl(47,83%,91%);
  font-size: 14px;
}

.fixed-list li{
  padding-top: 10px;
  padding-right: 10px;
}

.update-question-package button{
  margin-right: 20px;
  height:32px;
  border-radius: 5px;
  background-color:hsl(206, 90%, 73%);
  cursor: pointer;
}

.update-question-package button:hover{
  background-color:hsl(207, 71%, 66%);
}

.question-body-item  input:focus {
  outline: none;
  box-shadow: 0px -3px 0px 0px rgba(85, 161, 223, 0.3),
              -3px 0px 0px 0px rgba(85, 161, 223, 0.3),
              3px 0px 0px 0px rgba(85, 161, 223, 0.3),
              0px 3px 0px 0px rgba(85, 161, 223, 0.3);
}
