.update-package-container{
  display: flex;
  width: 80%
}

.update-question-container{
  width: 70%;
  margin-left: 8%;
}

.question-body-item {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px
}

.question-body-item span {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.question-body-item input {
  height: 35px;
}

.update-question-description {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px
}

.update-question-description span {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.fixed-container{
  width:20%;
  position: fixed;
  top:10%;
  left:75%;
  background-color: hsl(47,83%,91%);
  margin: 5px;
}

.fixed-title{
  background-color: hsl(47,65%,84%);
  font-size: 16px;
  padding: 12px;
}

.fixed-list{
  background-color:hsl(47,83%,91%);
  font-size: 14px;
}

.fixed-list li{
  padding-top: 10px;
}

.update-question-package button{
  width:90px;
  height:25px;
  margin-left: 10px;
  margin-right:10px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color:antiquewhite;
  cursor: pointer;
}
