.allQuestionsList{
  width:auto
}
.question{
  /* border:1px solid gray; */
  display: flex;
  flex-direction: row;
  width:auto;
  margin:20px
}

.like-answer{
  width:15%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.question-body {
  width:80%
}

.title {
  font-size: 20px;
}

.description {
  margin:10px;
}

.tags {
  margin:10px;
  color: rgb(74, 192, 221);
}

.answer {
  border:1px solid green;
  border-radius: 5px;
  padding: 2px;
}

.create-question-button-container {
  width:auto;
  display: flex;
  justify-content: flex-end;
}


.all-question-container {
  width:80%
}


.create-question-model-button button {
  /* list-style-type: none; */
  border-radius: 10px;
  background-color:antiquewhite;
  margin:2px;
  margin-right:50px;
  cursor: pointer;
}

a:link { text-decoration: none; }

/*
a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; } */


.like-answer img {
  width: 26px;
  height: 13px;
  margin-top: 4px;
  margin-right: 12px;
}

.upside-down {
  transform: scaleY(-1);
}
