.answer-question-container {
  border:1px solid grey;
  width:290px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer-question-form {
  width:280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

  .answer-question-errors-item {
    color: red;
  }

  .answer-question-body-item {
    margin: 10px;
  }

  .answer-question-body-item-span {
    width: 15%
  }

  .answer-question-body-item input {
    width: 75%;
    height:18px;
    margin-left: 5px;
  }

  .answer-question-button {
    width:260px;
    height:25px;
    margin-left:9px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color:antiquewhite;
    cursor: pointer;
  }
