.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
  margin-right:10%;
  align-items: center;
}

.menu-list{
  width:100px;
  list-style-type: none;
  margin-left: 3px;
}

.icon-list{
  list-style-type: none;
}
.icon-list img{
  width:25px;
}

.icon-menu{
  display: flex;
  align-items: center;
}

.dropdown-menu{
  margin:10px;
  list-style-type: none;
}

.profile-dropdown-li button{
  border-radius: 10px;
  background-color:antiquewhite;
  margin:2px;
  cursor: pointer;
}


button:hover {
  background-color: lightgray;
}

.profile-dropdown-information{
  list-style-type: none;
}

.profile-dropdown-button {
  cursor: pointer;
}
.profile-dropdown-userProfile {
  border-radius: 10px;
  background-color:antiquewhite;
  margin:2px;
  cursor: pointer;
}
/*
.search-button {
  background-color: red;
  border: none;
  height: 100%;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  right: 0;
  margin: 0;
} */

.dropdown-menu button{
  border-radius: 12px;
  background-color:antiquewhite;
  margin-bottom: 10px;
  cursor: pointer;
}

.search-input-values {
  width:80%
}
