.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
  margin-right:10%;
  align-items: center;
}

.menu-list{
  width:100px;
  list-style-type: none;
  margin-left: 3px;
  font-weight: bold;
}

.icon-list{
  list-style-type: none;
}
.icon-list img{
  width:25px;
}

.icon-menu{
  display: flex;
  align-items: center;
}

.dropdown-menu{
  margin:10px;
  list-style-type: none;
}

/* .profile-dropdown-li button{
  border-radius: 10px;
  background-color:antiquewhite;
  margin:2px;
  cursor: pointer;
} */


/* button:hover {
  background-color: lightgray;
} */

.profile-dropdown-information{
  list-style-type: none;
}

.profile-dropdown-button {
  cursor: pointer;
}


/*
.search-button {
  background-color: red;
  border: none;
  height: 100%;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  right: 0;
  margin: 0;
} */

.dropdown-menu button{
  height:25px;
  border-radius: 5px;
  background-color:hsl(206, 90%, 73%);
  cursor: pointer;
  margin-top: 10px;
}
.dropdown-menu button:hover {
  background-color:hsl(207, 71%, 66%);
}
.search-input-values {
  width:80%;
  height: 28px;
}
.search-button {
  height:28px;
}
.search-container{
  width:70%
}

.login-signup-button {
  display: flex;
  width:12%;
  justify-content: space-around;
}

.login-button button {
  /* margin-right: 20px; */
  height:32px;
  width: 110%;
  border-radius: 5px;
  background-color:hsl(206, 90%, 73%);
  cursor: pointer;
}
.login-button button:hover{
  background-color:hsl(207, 71%, 66%);
}

.signup-button button {
  margin-right: 20px;
  width: 80%;
  height:32px;
  border-radius: 5px;
  background-color:hsl(207, 74%, 63%);
  cursor: pointer;
}
.signup-button button:hover{
  background-color:hsl(207, 83%, 57%);
}
