.single-question-root-container {
  width:75%;
  margin-bottom: 40px;
}

.single-title {
  font-size: 20px
}

.single-time {
  display: flex;
  border-bottom: 1px solid;
}

.time {
  margin: 10px;
}


.single-question-container {
  width:100%;
  display: flex;
  justify-content: space-between;
  margin-top:20px;
}
.all-answers-owned-by-current-question {
  width:100%;
}
.single-question-related-answers-container {
  width:100%;
  display: flex;
  flex-direction: column;
  margin-top:20px;
}
.single-like-answer {
  /* width:10%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  width:80px;
}

/* .single-answer {
  border:1px solid green;
  border-radius: 5px;
  padding: 2px;
} */

.get-question-like {
  width:10%;
}

.single-question-body {
  width:85%;
}


.single-description {
  margin: 10px;
}

.update-delete-button-container {
  display:flex;
  justify-content: space-between;
  margin-left: 15%;
}

.update-delete-button {
  display: flex;
}

.delete-update-question button {
  height:25px;
  margin-right:10px;
  margin-bottom: 10px;
  border-radius: 8px;
  /* background-color:antiquewhite; */
  background-color: white;
  border: none;
  cursor: pointer;
}

.answer-question-model button {
  height:25px;
  margin-right:10px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color:antiquewhite;
  cursor: pointer;
}

.single-tag-username{
  display: flex;
  justify-content: space-between;
  background-color: rgba(161, 220, 238, 0.4);
}

.single-tags{
  margin:10px;
  color: rgb(74, 192, 221);
}

.single-username {
  margin:5px;
}


.single-user-profile {
  display: flex;

}
.single-user-profile img{
  width: 18px;
  height: 18px;
  margin:5px;
}

/* .noError {
  display: none;
} */

.ansers-and-package {
  width:100%
}


.answer-question-package-no-login{
  pointer-events: none;
}


pre {
  background: rgb(240, 240, 240);
  padding:10px;
}

.has-two-items {
  display: flex;
  padding: 10px;
  background-color:hsl(47, 77%, 92%)
}

.svg {
  margin-right: 35px;
  margin-left: 25px;
}

.side-basr-title{
  font-weight: bold;
  padding: 10px;
  background-color: hsl(47,65%,84%);
  border:1px solid hsl(47,65%,84%);
  list-style-type: none;
}

.except-title-time {
  width: 100%;
  display: flex;
  justify-content: space-between;
  --first-width: 70%;
  --second-width: 25%;
}

.single-question-related-answers {
  flex-basis: var(--first-width);
  width: var(--first-width);
}
.single-question-side-bar {
  flex-basis: var(--second-width);
  width: var(--second-width);
}

@media (max-width: 600px) {
  .except-title-time {
    flex-wrap: wrap;
    --first-width: 100%;
    --second-width: 100%;
  }
}
@media (min-width: 601px) and (max-width: 1000px) {
  .single-question-side-bar {
    flex-basis: 40%;
    width: 40%;
  }
}

.let-you-signup-or-login-first {
  margin-top: 10px;
}
