.question-package-container{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  width:80%;
  margin-bottom: 30px;
}

/* .ask-writing-container {
  margin-top: 20px;
} */
.ask-img-container{
  display: flex;
  justify-content: space-between;
}
.ask-h1{
  display: flex;
  margin-top: 20px;
  align-items: center;
}

img{
  width:45%;
  /* background-attachment: fixed; */
}

.writing-container{
  width:75%;
  border: 1px solid lightblue;
  padding: 20px;
  background-color: rgba(172, 226, 243, 0.2);
  margin-top: 10px;
}

.create-question-package-errors-item {
  color:red;
  font-size: large;
}

.create-question-package-errors-container{
  border:1px solid red
}

.no-boder{
  border:hidden
}

.about-title{
  display: flex;
  justify-content: space-between;
  width:auto
}

.create-question-package-title {
  width:75%;
  border: 1px solid gray;
  height:110px;
}

.create-question-title-title {
  font-size: 15px;
  font-weight: bold;
  background-color: white;
  margin-bottom: 5px;
}

.create-question-title-label {
  margin: 10px;
}
.create-question-title-input input{
  margin: 10px;
  width:95%;
  height:28px;
  padding:10px;
}

.title-description-container {
  width:20%;
  border: 1px solid gray;
  display: none;
}

.about-title:focus-within .title-description-container{
  display: block;
}

.title-description-title {
  font-size: 15px;
  padding:10px;
  background-color: rgb(238, 238, 238);
}

.title-description {
  display: flex;
}

.icon {
  width:20%;
  height: 80%;
  padding-top: 20px;
}

.description-about-title {
  width: 80%;
  padding: 10px;
}

.about-description {
  display: flex;
  justify-content: space-between;
  width:auto;
  margin-top: 20px;
}

.real-description {
  width: 75%;
  border: 1px solid gray;
}

.description {
  margin:10px
}


.description-lable {
  font-size: 15px;
  font-weight: bold;
  background-color: white;
  margin-left: 10px;
}

.description-p {
  font-size: 13px;
  font-weight:lighter;
  padding-top: 5px;
  margin-left: 10px;
}

.description-editor {
  margin: 10px;
  width:95%;
  padding:5px;
}

.explain-of-description {
  width:20%;
  border: 1px solid gray;
  display: none;
}

.about-description:focus-within .explain-of-description{
  display: block;
}
.explain-description-title {
  font-size: 15px;
  padding:10px;
  background-color: rgb(238, 238, 238);
}

.explain-description-container {
  display: flex;
  height: auto
}

.explain-description-description {
  width: 80%;
  padding: 10px;
}

.about-tags {
  display: flex;
  justify-content: space-between;
  width:auto;
  margin-top: 20px;
}

.real-tags {
  width:75%;
  border: 1px solid gray;
  height:110px;
}

.tags-description-container {
  width:20%;
  border: 1px solid gray;
  display: none;
}

.about-tags:focus-within .tags-description-container{
  display: block;
}
.real-tags-title-descript {
  margin:10px
}

.real-tags-title {
  font-size: 15px;
  font-weight: bold;
  /* background-color: white; */
  margin-bottom: 5px;
}

.real-tags input {
  margin: 10px;
  width: 95%;
  height: 28px;
  padding: 10px;
}

.ask-question-package-button {
  margin-top: 15px;
  margin-right: 20px;
  height:32px;
  border-radius: 5px;
  background-color:hsl(206, 90%, 73%);
  cursor: pointer;
}
.ask-question-package-button:hover{
  background-color:hsl(207, 71%, 66%);
}

.create-question-title-input input:focus {
  outline: none;
  box-shadow: 0px -3px 0px 0px rgba(85, 161, 223, 0.3),
              -3px 0px 0px 0px rgba(85, 161, 223, 0.3),
              3px 0px 0px 0px rgba(85, 161, 223, 0.3),
              0px 3px 0px 0px rgba(85, 161, 223, 0.3);
}

.real-tags-input input:focus {
  outline: none;
  box-shadow: 0px -3px 0px 0px rgba(85, 161, 223, 0.3),
              -3px 0px 0px 0px rgba(85, 161, 223, 0.3),
              3px 0px 0px 0px rgba(85, 161, 223, 0.3),
              0px 3px 0px 0px rgba(85, 161, 223, 0.3);
}
/*
.svg-icon-bg.iconHelp{
  visibility: hidden;
} */
