.signup-container{
  width:300px
}

.signup-header {
  text-align:center
}

.signup-form-container{
  display: flex;
  flex-direction:column;
  align-items: center;
  width:90%;
}

.sign-up-information{
  width:90%;
  display: flex;
  flex-direction: column;
  padding:0.2em 0
}

.sign-up-information span{
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 6px;
}

.sign-up-information input {
  width: 110%;
  height:25px
}

.sign-up-button {
  margin-left:25px;
  margin-top: 10px;
  margin-bottom: 10px;
  height:32px;
  width: 100%;
  border-radius: 5px;
  background-color:hsl(206, 90%, 73%);
  cursor: pointer;
}
.sign-up-button:hover{
  background-color:hsl(207, 71%, 66%);
}

.signup-error{
  color: red;
}
