
.all-question-likes-container img{
  width: 30px;
  height: 15px;
  margin-top: 4px;
  margin-right: 12px;
}

.single-question-upside-down {
  transform: scaleY(-1);
}

.like-tooltip {
  position: relative;
  display: inline-block;
}

.like-tooltiptext {
  width: 200px;
  position: absolute;
  font-size: 15px;
  visibility: hidden;
}

.like-tooltip:hover .like-tooltiptext{
  visibility: visible;
}



.single-question-upside {
  cursor: pointer;
}

.unlike-tooltip {
  position: relative;
  display: inline-block;
}

.unlike-tooltiptext {
  width: 200px;
  position: absolute;
  font-size: 15px;
  visibility: hidden;
}

.unlike-tooltip:hover .unlike-tooltiptext{
  visibility: visible;
}

.single-question-upside-down {
  cursor: pointer;
}

.question-like-account {
  width:70px;
}
